* {
    margin: 0;
    padding: 0;
    
}

/* HEADER*/


.container_header {
  background-color: var(--preto);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-radius: 0 0 0 45px;
  
}

.menu_icon svg {
  width: 1.8em;
  height: 1.8em;
  color: var(--cor-de-fundo);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s ease, font-size 0.3s ease;
}

.overlay a:hover, .overlay a:focus {
  color: var(--amarelo);
  font-size: 2.5em;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.profile svg {  
  width: 2.5em;
  height: 2.5em;
  color: var(--cor-de-fundo);
}

.logo img {
  height: 5em;
}

/* INPUT*/

.seach {
  text-align: center;
}

.input_seach {
  border-radius: 30px;
  outline: 2px solid #FEBF00;
  border: 0;
  font-family: var(--fonte-txt);
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
  margin-top: -1em;
  width: 70%;
  
}

.input_seach:focus {
  outline-offset: 5px;
  background-color: var(--cinza);
}



/* PROMOTION */

.container_promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tab_promo {
  margin: 1.5em 0.2em;
  overflow: hidden;
  background-color: var(--amarelo);
  border-radius: 25px;
}

.tab_promo button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 10px;
  transition: 0.3s;
}


.tab_promo button:hover {
  background-color: var(--cinza);
}


.tab_promo button.active {
  background-color: var(--laranja);
}


.tabcontent {
  display: flex;
  padding: 6px 12px;  
  border-top: none; 
}
.img_promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tabcontent img {
  height: 23em;
  border-radius: 25px;
  text-align: center;
}

.tablinks {
  pointer-events: none; /* Desativa os cliques */
}


/* BENEFITS */
.benefits {
  background-color: var(--preto);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}
.benefits_txt {
  margin: 1.5em ;
  color: #e2e2e2;
}

.benefits_txt h1 {
  font-family: var(--fonte-h1);
  color: var(--amarelo);
  padding: 0.5em 0;
  text-align: center;
}

.benefits_txt p {
  text-align: justify;
  font-family: var(--fonte-txt);
}


/* SOCIAL MEDIA */

.social_midia {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--preto);

}

.social_midia  h1 {
  padding-top: 1em;
  text-align: center;
  font-family: var(--fonte-h1);
  font-weight: 700;
  color: var(--cor-de-fundo);
}



.wrapper {
  display: inline-flex;
  list-style: none;  
  width: 100%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  margin-left: -2em;
}

.wrapper .icon_sm {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon_sm:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon_sm:hover span,
.wrapper .icon_sm:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

/* LETTER WRAPPER */

.wrapper_letter_trans {
  margin: 1.5em 0;
}

.wrapper_letter {
  min-height: 3rem;
  min-width: 14rem;
  font-size: 1rem;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0),
  );
  font-family: monospace;
}

.letter {
  width: 1ch;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  left: 100%;
  animation: scroll 4.4s linear infinite;
}

@keyframes scroll {
  to {
    left: -1ch;
  }
}

.letter1 {
  animation-delay: calc(2.5s / 10 * (10 - 1) * -1);
}
.letter2 {
  animation-delay: calc(2.5s / 10 * (10 - 2) * -1);
}
.letter3 {
  animation-delay: calc(2.5s / 10 * (10 - 3) * -1);
}
.letter4 {
  animation-delay: calc(2.5s / 10 * (10 - 4) * -1);
}
.letter5 {
  animation-delay: calc(2.5s / 10 * (10 - 5) * -1);
}
.letter6 {
  animation-delay: calc(2.5s / 10 * (10 - 6) * -1);
}
.letter7 {
  animation-delay: calc(2.5s / 10 * (10 - 7) * -1);
}
.letter8 {
  animation-delay: calc(2.5s / 10 * (10 - 8) * -1);
}
.letter9 {
  animation-delay: calc(2.5s / 10 * (10 - 9) * -1);
}
.letter10 {
  animation-delay: calc(2.5s / 10 * (10 - 10) * -1);
}

.letter11 {
  animation-delay: calc(2.5s / 10 * (10 - 11) * -1);
}

.letter12 {
  animation-delay: calc(2.5s / 10 * (10 - 12) * -1);
}

.letter13 {
  animation-delay: calc(2.5s / 10 * (10 - 13) * -1);
}

.letter14 {
  animation-delay: calc(2.5s / 10 * (10 - 14) * -1);
}

/* CARD PROMO */

.plan_card_container {
  margin: 1.5em 1em;
}

.plan_card_container_txt h1 {
  font-size: 2em;
  font-family: var(--fonte-h1);
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
}


/* RESERVATION */


.container_form {
  margin: 2em 1em;  
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container_form_txt {
  font-size: 2em;
  color: var(--preto);
  font-weight: 700;
  text-align: center;
  font-family: var(--fonte-h1);
  color: var(--cor-de-fundo);
  
}

.container_form_box {
  background-color: var(--amarelo);
  padding: 1.5em;
  border-radius: 25px;
}

.container_form .form-reservation {
  margin-top: 15px;
}

.form-reservation .input-box {
  width: 100%;
  margin-top: 10px;
}

.input-box label {
  color: var(--preto);
}

.form-reservation :where(.input-box input, .select-box) {
  position: relative;
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #808080;
  margin-top: 5px;
  border: 1px solid #EE4E34;
  border-radius: 6px;
  padding: 0 15px;
  background: #FCEDDA;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form-reservation .column {
  display: flex;
  column-gap: 15px;
}

.form-reservation .gender-box {
  margin-top: 10px;
}

.form-reservation :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form-reservation .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: #EE4E34;
}

.form-reservation :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #000;
}

.address :where(input, .select-box) {
  margin-top: 10px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #808080;
  font-size: 1rem;
  background: #FCEDDA;
}

.form-reservation button {
  height: 40px;
  width: 100%;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: var(--laranja);
}

.form-reservation button:hover {
  background: var(--azul);
}


/* GREETING*/


.modal {
  display: none; /* Oculto por padrão */
  position: fixed; /* Fica em cima da tela */
  z-index: 1; /* Fica na frente de outros conteúdos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permite rolagem se necessário */
  background-color: rgb(0, 0, 0); /* Preto com transparência */
  background-color: rgba(0, 0, 0, 0.4); /* Preto com transparência */
  
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% do topo e centralizado horizontalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Pode ajustar a largura conforme necessário */
  max-width: 500px; /* Limita a largura máxima */
  text-align: center;
}

.modal-content h1 {
  font-family: var(--fonte-h1);
  font-weight: 700;
  color: var(--amarelo);
}

.modal-content ul li {
  
  list-style: none;
}

.modal-content ul a {
  color: var(--preto);
  text-decoration: none;
}

.modal > p > b {
  font-weight: 700;
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hide-on-mobile {
  display: none;
  }

  .hide-on-mobile img {
    display: none;
  
  }


@media (min-width: 768px) {

    .hide-on-mobile {
      display: block;
      
    }

    .logo img {
      height: 6em;
    }

    .tab_promo {
      width: 87%;
    }
        
    .tabcontent img {
      display: inline-block;
      max-width: 80%;
      height: auto;
      border-radius: 25px;
      text-align: center;

    }
    
    .plan_card_container_txt h1 {
      font-size: 3em;
      font-family: var(--fonte-h1);
      font-weight: 700;
      text-align: center;
      margin-bottom: 1em;
    }

    

    













}